@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Delius+Swash+Caps&display=swap');

body {
  background-image: url("/assets/fundo.gif");
  margin: 0;
  min-height: 100vh;
  color: white;
  font-family: "Delius Swash Caps", cursive;
}

h1 {
  text-align: center;
  font-family: "Butterfly Kids", cursive;
  font-size: 3.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

p {
  text-align: center;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

a {
  text-decoration: none;
}